version: "3.7"

services:
    api_postgres_db:
      image: postgres
      container_name: api_postgres_db
      restart: always
      env_file: 
        - variables.env
      volumes:
        - ./database/init_db.sql:/docker-entrypoint-initdb.d/init_db.sql
    api_service:
      build:
          context: ./service
          dockerfile: Dockerfile
      container_name: api_service
      env_file: 
        - variables.env
      ports:
        - "8080:8080"
      volumes:
        - ./service:/workdir
      depends_on: 
        - "api_postgres_db"
