runner:
  control: "../control.sh"
  api:
    http_scheme: "http"
    host: 127.0.0.1
    port: 8080
    schema: "../service/api/openapi.yaml"
    security:
      clients_file: "../auth_service/clients.yml"

modules:
  - sql_injection:
      database:
        name: "toy_api"
        username: "api_user"
        password: "password"
        host: 127.0.0.1
        port: 5432
  - oauth2_scopes:
      type: client_credentials
