asn1crypto==0.24.0
certifi==2020.12.5
chardet==4.0.0
cryptography==2.6.1
entrypoints==0.3
idna==2.10
keyring==17.1.1
keyrings.alt==3.1.1
pycrypto==2.6.1
PyGObject==3.30.4
pyxdg==0.25
PyYAML==5.4.1
requests==2.25.1
SecretStorage==2.3.1
semver==2.13.0
six==1.15.0
urllib3==1.26.4
