name: API Fuzzer

# Controls when the action will run. 
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout primary repo
      - uses: actions/checkout@v2
        with:
          path: main
      
      - name: Checkout RESTler dockerfile repo
        uses: actions/checkout@v2
        with:
          repository: reggieag/restler-fuzzer
          path: restler

      - name: Verify checkouts
        run: ls ${{ github.workspace }}
      
      - name: Check images
        run: docker images list
